<!--footer-->
<footer class="footer" style="font-size: calc(9px + .5vmin); z-index:999">
	<div class="float-left">
		<a href="https://twitter.com/OpenGeoEdu" target="_blank" rel="noopener">
			<i class="fab fa-twitter fa-2x" aria-hidden="true"></i>
		</a>
		<a href="https://github.com/opengeoedu" target="_blank" rel="noopener">
			<i class="fab fa-github fa-2x" aria-hidden="true"></i>
		</a>
		<a href="https://www.instagram.com/opengeoedu/" target="_blank" rel="noopener">
			<i class="fab fa-instagram fa-2x" aria-hidden="true"></i>
		</a>
		<a href="https://www.youtube.com/channel/UChFyYD9h3ynC1rX-s3tyNdw" target="_blank" rel="noopener">
			<i class="fab fa-youtube-square fa-2x"></i>
		</a>
		<a href="https://www.linkedin.com/company/opengeoedu/" target="_blank" rel="noopener">
			<i class="fab fa-linkedin fa-2x"></i>
		</a>
		<a href="https://forum.opengeoedu.de/" target="_blank" rel="noopener">
			<i class="fab fa-discourse fa-2x" aria-hidden="true"></i>
		</a>
		<a href="https://chat.opengeoedu.de" target="_blank" rel="noopener">
			<i class="fab fa-rocketchat fa-2x" aria-hidden="true"></i>
		</a>
	</div>
	<!--copyright-->
	<div class="float-right">
		<!-- Button trigger modal -->
		<a class="mt-1 d-none d-md-inline" href="#" data-toggle="modal" data-target="#imprint">Impressum & Datenschutz</a>

		<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
			<img alt="Creative Commons Lizenzvertrag" style="border-width:0;" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"
			/>
		</a>
	</div>
</footer>
	<!-- Modal -->
	<div class="modal fade" id="imprint" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="exampleModalLongTitle">Impressum</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-justify">
					<h5>Herausgeber:</h5>
					Prof. Dr.-Ing. Ralf Bill
					<br>
					<br> Professur für Geodäsie und Geoinformatik
					<br> Universität Rostock
					<br> 18051 Rostock
					<br> Tel. 03824983200
					<br> Fax. 03814983202
					<br> Email:
					<a href="mailto:info@opengeoedu.de?subject=opengeoedu.de-Anfrage">Kontaktemail</a>
					<hr />
					<h5>Haftungsausschluss</h5>
					<p>
						<small>
							Trotz intensiver und sorgfältiger Kontrolle haften die Herausgeber nicht für Richtigkeit, Aktualität und
							Vollständigkeit
							ihrer Webseiten. Wir weisen ausdrücklich darauf hin, dass die Inhalte sämtlicher Webseiten, die über externe
							Links
							auf der Webseite erreichbar sind, ausschließlich von den Betreibern dieser Webseiten verantwortet werden.
							Jegliche
							Haftung für die Inhalte entsprechend verlinkter Seiten ist damit ausgeschlossen.
						</small>
					</p>
					<hr />
					<h5>Urheberrechte</h5>
					<p>
						<small>
							Sämtliche Urheberrechte an Texten, Bildern, Tabellen und grafischen Darstellungen, die auf den Webseiten
							öffentlich gemacht werden, liegen - soweit nicht anders kenntlich gemacht - bei der Universität Rostock bzw.
							beim Projekt OpenGeoEdu.
						</small>
					</p>
					<hr />
					<h5>Lizenz</h5>
					<p><img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"/></p>
					<small>
						<p>
							Die Inhalte des Online-Kurses sind mit der CreativeCommons-Lizenz <code>cc-by-sa</code> freigegeben.
							<a href="https://learn.opengeoedu.de/faq#zum-projekt-und-kursangebot">Hier in unseren FAQs</a> können Sie
							nachlesen wie unsere Inhalte zitiert werden können.
						</p>
					</small>
					<h5>Datenschutzerklärung</h5>
					<p>
						<small>
							<a href="https://www.uni-rostock.de/footer/datenschutz/" target="_blank">Datenschutzerklärung</a>
						</small>
					</p>

					<h5>Piwik/Matomo Opt-out</h5>
					<p>
						<iframe src="https://www.opengeoedu.de/analytics/index.php?module=CoreAdminHome&action=optOut&language=de"
						 frameborder="0" style="all: initial; height: 20vh;">
						</iframe>
					</p>

				</div>

			</div>
		</div>
	</div>