<!--Navigation-->
<nav class=" navbar navbar-expand-md navbar-dark fixed-top nav-justified" id="mainNav"
    style="background-color: #59b8de;">
    <a class="d-md-none d-lg-none d-xl-none" href="https://www.opengeoedu.de/index.html">
        <img class="rounded" src="https://www.opengeoedu.de/images/logo/oge.svg" width="40" height="40"
            alt="OpenGeoEdu-Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse"
        aria-controls="dual-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="collapse navbar-collapse dual-collapse mx-5" style="padding-left: 0px;">
        <li class="nav-item dropdown btn-block">
            <a class="nav-link dropdown-toggle nuevo" data-toggle="dropdown" href="" role="button" id="Module"
                aria-haspopup="true" aria-expanded="false">Lernplattform</a>
            <div class="dropdown-menu special-dropdown btn-block mt-0" aria-labelledby="Module">
                <a class="dropdown-item" href="https://learn.opengeoedu.de/uebersicht/kursuebersicht">Übersicht</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://learn.opengeoedu.de/openx">Open XX</a>
                <a class="dropdown-item" href="https://learn.opengeoedu.de/opendata">Open Data</a>
                <a class="dropdown-item" href="https://learn.opengeoedu.de/elektromobilitaet">Elektromobilität</a>
                <a class="dropdown-item" href="https://learn.opengeoedu.de/umgebungslaerm">Umgebungslärm</a>
                <a class="dropdown-item" href="https://learn.opengeoedu.de/biomassepotenzial">Biomassepotenzial</a>
                <a class="dropdown-item" href="https://learn.opengeoedu.de/monitoring">Flächenmonitoring</a>
                <a class="dropdown-item" href="https://learn.opengeoedu.de/fernerkundung">Fernerkundung</a>
                <a class="dropdown-item" href="https://learn.opengeoedu.de/gis">Geo- Informationssysteme</a>
                <a class="dropdown-item" href="https://learn.opengeoedu.de/tutorials">Tutorials</a>
            </div>
        </li>
        <li class="nav-item dropdown btn-block">
            <a class="nav-link dropdown-toggle nuevo" data-toggle="dropdown" href="" role="button" id="Projekt"
                aria-haspopup="true" aria-expanded="false">Services</a>
            <div class="dropdown-menu special-dropdown btn-block mt-0" aria-labelledby="Projekt">
                <a class="dropdown-item" href="https://portal.opengeoedu.de" target="_blank">
                    Portal
                </a>
                <a class="dropdown-item" href="https://chat.opengeoedu.de" target="_blank">
                    Chat
                </a>
                <a class="dropdown-item" href="https://forum.opengeoedu.de" target="_blank">
                    Forum
                </a>
                <a class="dropdown-item" href="https://pad.opengeoedu.de" target="_blank">
                    EtherPad
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://learn.opengeoedu.de/faq">
                    How to OpenGeoEdu
                </a>
            </div>
        </li>
        <li class="nav-item dropdown btn-block">
            <a class="nav-link dropdown-toggle nuevo" data-toggle="dropdown" href="" role="button" id="Projekt"
                aria-haspopup="true" aria-expanded="false">Projekt</a>
            <div class="dropdown-menu special-dropdown btn-block mt-0" aria-labelledby="Projekt">
                <a class="dropdown-item" href="https://www.opengeoedu.de/projekt.aspx">
                    Projektinformation
                </a>
                <a class="dropdown-item" href="https://www.opengeoedu.de/partner.aspx">
                    Projektpartner
                </a>
                <a class="dropdown-item" href="https://www.opengeoedu.de/arbeitspakete.aspx">
                    Arbeitspakete
                </a>
                <a class="dropdown-item" href="https://www.opengeoedu.de/foerderung.aspx">
                    Förderung
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://www.opengeoedu.de/produkte.aspx">
                    Produkte
                </a>
                <a class="dropdown-item" href="https://www.opengeoedu.de/publikationen.aspx">
                    Publikationen
                </a>
                <a class="dropdown-item" href="https://www.opengeoedu.de/aktuelles.aspx">
                    Blog/Aktuelles
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://owncloud.auf.uni-rostock.de" target="_blank" rel="noopener"
                    rel="nofollow" id="owncloud">
                    Owncloud (Intern)
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://www.opengeoedu.de/kontakt.aspx">
                    Kontakt
                </a>
            </div>
        </li>
        <li class="nav-item d-md-none d-lg-none d-xl-none" style="list-style-type: none;">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#imprint">Impressum & Datenschutz</a>
        </li>
    </ul>
</nav>