<div class="searchbox">
    <label for="search-by"><a href="/tntsearch" type="submit"><i class="fas fa-search"></i></a></label>
    <input id="search-by" type="text" placeholder="{{ 'Suche . . .'|t }}"
           data-search-input="{{ base_url_relative }}/search.json/query"/>
    <span data-search-clear><i class="fas fa-times"></i></span>
</div>
<!--    {{ snappygrav() }} --!>
